#SYS START 
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase /internet-banking-basic/ 
RewriteRule ^index\.php$ - [L] 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . /internet-banking-basic/index.php [L] 
</IfModule> 
#SYS END